<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMP_SalesOrderManager.Properties.Settings.Abfragedaten_BCConnectionString"
            connectionString="Data Source=NAV_DB\NAVISION;Initial Catalog=Abfragedaten_BC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>