<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMP_SalesOrderManager.Properties.Settings.Abfragedaten_BCConnectionString"
            connectionString="Data Source=NAV_DB\NAVISION;Initial Catalog=Abfragedaten_BC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="NAVBehavior">
            <clientCredentials>
              <windows allowedImpersonationLevel="Delegation" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="NAVBindung">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="RechnungsrabattDetails_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nav-app1.brantner.loc:7067/BC_DEV/WS/Fahrzeugbau/Page/SalesLine"
                binding="basicHttpBinding" bindingConfiguration="NAVBindung"
                contract="sr_SalesLine.SalesLine_Port" name="SalesLine_Port" />
            <endpoint address="http://nav-app1.brantner.loc:7067/BC_DEV/WS/Fahrzeugbau/Page/RechnungsrabattDetails"
                binding="basicHttpBinding" bindingConfiguration="NAVBindung"
                contract="sr_InvDiscDetails.RechnungsrabattDetails_Port" name="RechnungsrabattDetails_Port" />
        </client>
    </system.serviceModel>
</configuration>